.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(227, 246, 255);
  padding: 15px 20px;
  border-radius: 10px 10px 15px 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
  font-size: 18px;
}

.chat-message-profile {
  width: 46px;
  border-radius: 46px;
  object-fit: cover;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}
.chat-message-time {
  margin-top: 5px;
  font-size: 12px;
  color: rgb(87, 87, 87)
}