.welcome-text {
  margin-bottom: 24px;
  font-size: 22px;
}

.email-input {
  margin-bottom: 9px;
  padding: 8px 65px 8px 14px;
  font-size: 12px;
  border-color: rgb(117, 117, 117);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.password-input {
  margin-bottom: 12px;
  margin-bottom: 20px;
  padding: 8px 65px 8px 14px;
  font-size: 12px;
  border-color: rgb(117, 117, 117);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.login-button {
  margin-right: 8px;
  border: none;
  background-color: rgb(0, 123, 255);
  padding: 9px 18px;
  border-radius: 5px;
  color: white;
}

.sign-up-button {
  border: none;
  background-color: rgb(0, 123, 255);
  padding: 9px 18px;
  border-radius: 5px;
  color: white;
}

.show-button {
  border-style: solid;
  border-width: 1px;
  padding: 3px 6px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  border-color: rgb(105, 105, 105);
}