.not-found-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 32px;
  background-image: url("404page.jpg");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
}

